#divison1{
  height: 200px;
  border: 10px dotted black;
  background-color: aqua;
  padding:20px;
  background-clip: border-box;

}
#divison2{
  border: 10px dotted black;
  background-color: aqua;
  padding:20px;
  background-clip: padding-box;

}
#divison3{
  border: 10px dotted black;
  background-color: aqua;
  padding:20px;
  background-clip: content-box;

}
#divison4{
  background-image: url(images/l.jpg),url(images/j.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100px;
  padding: 20px;
  background-position: left,right;
}
#divison5{
  background-image: url(images/l.jpg),url(images/j.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 200px 100px,100px 100px;
  background-position: 0px 50px,200px 0px;
}